#contact-section {
    background-color: $secondary-color-lighter;
    padding: 3rem 0;
}

.contact-section-container {
    text-align: center;
    p, strong {
        display: block;
        margin: 0 0 16px;
    }
    a {
        color: $secondary-color;
        text-decoration: none;
        img {
            width: auto;
            height: 1.4rem;
        }
        & strong {
            display: inline;
            margin-left: 6px;
            font-weight: 700;
        }
    }
}